 * {
    color: #0F0238;
    font-family: 'Encode Sans', 'Open Sans', sans-serif; 
    padding: 0%;
    margin: 0%;

 }

 p {
     font-size: 20px;
     margin-top: 1.5em;
 }

 h3{
     padding-bottom: 1em;
 }

 /* Top header with logo and nav bar****MAKE NAV BAR FIXED**** */ 
 .header {
        margin-top: 0;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        height: 1.5rem;
        background-color: #000;   
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
 }

 
 /* making sticky header */
 /* .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  .sticky + .landing-content {
    padding-top: 102px;
  } */

/* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

ul li {
    display: inline-block;
    padding-right: 2em;
    padding-top: 1em;
    text-align: left;
    font-weight: bold;
}

li p {
    color: #fff;
    font-size: 14px;
}

/* positioning content on top page of landing page ****FIXXXX**** */
.cover-content {
    justify-content: center;
    margin-left: 5em;
    margin-right: 3em;
    margin-bottom: 27em;
}

.heading {
    margin-top: 5em;
    font-style: italic;
}

/* logo in header */
 .header-logo img {
     width: 3em;
     margin-right: 1em;
     padding-top: 0.5em;
     padding-bottom: 0.5em;
 }

/* project title and description on top of homepage  */
  .informers-header p {
    color:#fff;
    font-size: 15px;
    font-weight: bold;
    padding-top: 0.3em;
    padding-bottom: 1em;
}

.info-header-block {
   /* position:static; */
   display: flex;
   align-items: flex-start;
   padding-left: 3em;
   padding-right: 2em;
   padding-top: 1em; 
   padding-bottom: 2em;
   height: 1em;
   margin-top: 2em;
} 




/* informers and cip logo - top and center of landing page */
.front-img img {
    display: flex;
    justify-content: wrap;
    margin-top: 0;
    margin-bottom: 0;
    width: 5em;
    /* padding-left: 5em; */
}

.front-img .team .logo {
    width: 20em;
}
 
/* purple background element of website with project info and sponsors */
.block-content {
    background-color: #4b2e83;
    color:#ffffff; 
    padding-top: 3em;
    padding-bottom: 2em;
    margin-top: 4em;
    margin-bottom: 1em;
	transform: skewY(-4deg);
}
/* demo vido purple backgoeudn element */
.block-content-vid {
    background-color: #4b2e83;
    color:#ffffff; 
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 4em;
	transform: skewY(4deg);
}

/* content within purple background areas */

.block-content h2 {
    color:#ffffff; 
    text-align: left;
    margin-left: 2em;
    padding-bottom: 1em;
    transform: skewY(4deg);
}

.block-content {
    padding-top: 1em;
}

.block-content-vid h1 {
    color:#ffffff; 
    text-align: center;
    padding-bottom: 2em;
    transform: skewY(-4deg);
}

.block-content-vid .vid {
    transform: skewY(-4deg);
}

.block-content p {
    color:#ffffff; 
    text-align: left;
    padding-left: 1em;
    padding-bottom: 3em;
    padding-right: 2em;
    margin-left: 2em;
    transform: skewY(4deg);
}

.block-content h1 {
    text-align: center;
    color: #fff;
}


/* project info and sponsors content on homepage */
.mission, .cip-intro {
    margin-top: 5em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 2em;
    padding-bottom: 0;
}

.mission p, .mission h2 {
    text-align: left;
    padding-bottom: 1em;
}

/* our solution section on landing page  */
.solution {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
    padding-left: 4em;
    padding-right: 4em;
}

/* features intro */
 .feature-title  {
    margin-left: 5em;
}



/* aligning features sections on page */
.features {
    display: flex;
    flex-wrap: wrap;
    padding-left: 4em;

}

.feature {
    display: inline;
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

.features img {
    width: 60px;
    height: 60px;
}

.feature-text {
    inline-size: 20em;
    
}


/* heading for feature questions section */
.questions h2 {
    text-align: left;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 2em;
    margin-top: 3em;
}

/* aligning feeature questions section */
.questions {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

/* aligning feature 'question' placements */
.question {
    inline-size: 25em;
    display: inline-flex;
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}

/* alignning video placement on screen */
.vid {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
}



/* project status alignment */
.status {
    text-align: left;
    margin-top: 6em;
    margin-left: 13em;
    margin-right: 10em;
    margin-bottom: 10em;
}

/* changing color of link in sponsor paragraph */
  .cip-intro a {
      color: #e8e3d3;
  }


/* styling all images in team section - including icons ***FIXX*** */
/* .headshots {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro h2 {
    padding-left: 2em;
    margin-bottom: 2em;
}

/* .photo {
    margin: 2em;
} */

/* .intro .headshots img {
    border-radius: 50%;
    width: 10em;
    height:10em;
    margin-top: 2em;
    justify-content: center;

} */

/* adjusting headshot images on larger screens */
.intro img {
    border-radius: 50%;
    width: 7em;
    height:7em;
    margin: 1em;
}

/* adjusting contact logos on larger screen */
.intro .contacts  {
    align-items: baseline;
}

.contacts .email img {
    border-radius: 0%;
    width: 2.7em;
    height: 2.7em;
    padding-top: 1.2em;
}

.contacts .linkedin img {
    border-radius: 0%;
    width: 2.3em;
    height: 2.3em;
}

/* adjusting size for logos on top og landing page */
.front-img img {
    width: 10em;
}

/* team's pictures alignment for larger screens */

.headshots {
    flex-direction: row;
    padding: 0;
    
}

.headshots {
    display:flex; 
    flex-wrap: wrap;
    align-content: center;
}

.photo {
    margin:3em;
    text-align: center;
    justify-content: center;
}

/* adjusting linkedin and email for larger screens*/
.photo .linkedin {
    width: 2em;
    border-radius: 0%;

}

.contacts {
    display: flex;
    justify-content:space-evenly;

}


/* positioning footer aat bottom of site page */
.footer {
    bottom: 0;
    margin-top: 2em;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    height: 2.5rem;
    background-color: #4b2e83;   
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
}


/* position ischool logo in footer */
.infologo img {
    width: 17em;
}

.infologo {
    float: right;
}

/* adjusting copyright placement */
.copyright p {
    color: lightgrey;
    font-size: 22px;
    bottom: 1em;
    font-style: italic;
}

.copyright {
    text-align: left;
    padding-right: 2em;
    color: rgb(181, 181, 181) ;
}


@media screen and (max-width: 768px) {
     /* vertical navbar for small screens */
     
     ul {
        list-style-type: none;
        padding: 0;
        width: 60px;
      }
      
      li a {
        display: block;
      }

    /* alinging headshots and contact info */
    .intro h2 {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    
    .intro .photo  {
        display:inline-block;
        justify-content: center;
    }

    .intro .photo h1, .intro .photo p {
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    /* adjusting contact icons on moblie */
    .intro .contacts .linkedin img {
        width: 4em;
        height: 4em;
        border-radius: 0%;
    }

    .intro .contacts .email img {
        width: 4.5em;
        height: 4.5em;
        border-radius: 0%;
    }

    .intro .contacts {
        display: flex;
        justify-content: space-between;
        margin-left: 1em;
        margin-right: 1em;
        align-items: baseline;
    }

    /* fixing margin on 'with tools liek these..' for small screens */
    .questions h2 {
        margin-left: 2em;
    }


    .question p {
        margin-right: 3em;
    }
    /* project staus alignment */
    .status {
        margin-left: 3em;
        margin-right: 3em;
    }

    /* aligning features for solution */
    .features {
        justify-content: center;
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 2em;
    }
    
    /* aliging footer content on smaller screens */

    .footer {
        padding-top: 1em;
        height: 5em;
    } 

    .footer .content {
        margin-left: 1em;
    }

    .footer .infologo {
        margin-bottom: 0.5em;
    }

}


@media screen and (min-width:750px) {

    .block-content {
        padding-right: 20em;
        padding-left: 2em;
    }

    .block-content h2 {
        padding-bottom: 0;
    }

    .block-content p {
        margin-top: 1em;
    }
    
    .questions h2 {
        margin-top: 5em;
        margin-left: 5em;
        margin-bottom: 0;
    }

    .question {
        margin-top: 0;
        margin-bottom: 1em;
    }

    /* adjusting headshot images on larger screens */
    .intro img {
        border-radius: 50%;
        width: 9em;
        height:9em;
        margin: 1em;
    }

    /* margin for team on larger scren */
    .intro h2 {
        margin-left: 8em;
        margin-top: 2em;
    }

    /* adjusting contact logos on larger screen */
    .intro .contacts  {
        align-items: baseline;
    }

    .contacts .email img {
        border-radius: 0%;
        width: 2.7em;
        height: 2.7em;
        padding-top: 1.2em;
    }

    .contacts .linkedin img {
        border-radius: 0%;
        width: 2.3em;
        height: 2.3em;
    }

    /* adjusting size for logos on top og landing page */
    .front-img img {
        width: 10em;
    }

/* team's pictures alignment for larger screens */

    .headshots {
        flex-direction: row;
        padding: 0;
        
    }

    .headshots {
        display:flex; 
        flex-wrap: wrap;
        justify-content: center;
    }

    .photo {
        margin:3em;
        text-align: center;
        justify-content: center;
    }

    /* adjusting linkedin and email for larger screens*/
    .photo .linkedin {
        width: 2em;
        border-radius: 0%;

    }

    .contacts {
        display: flex;
        justify-content:space-evenly;

    }

    /* adjusting alignment of features on larger screens */
    /* .features {
        margin-left: 3em;
        align-items: center;
    }

    /* position ischool logo in footer */
    /* .infologo img {
        width: 17em;
        padding-left: 2em;
    }  */
    
    
    /* solution padding for larger screen */
    .solution p {
        margin-left: 8em;
        margin-right: 8em;
    }


    /* positioning footer aat bottom of site page */
    .footer {
        height: 2.5rem; 
        padding-top: 2em;  
    }

    .content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
    }

    /* position ischool logo in footer */
    .infologo img {
        width: 17em;
        padding-left: 2em;
    }

    .infologo {
        float: left;
    }
    
    .copyright {
        float: right;
    }
        
}



@media screen and (min-width:900px) {

    /* adjusting headshots sizing on larger pages */

    .headshots {
        display: row;
    }

    .headshots h1, .headshots  p{
        font-size: 16px;
    }
   
    /* .photo {
        margin: 0.5em;
    } */

    .headshots .img {
        width: 60px;
        height: 60px;
    }
}



@media screen and (min-width:1200px) {
    
}