 * {
    color: #0F0238;
    font-family: 'Encode Sans', 'Open Sans', sans-serif; 
    padding: 0%;
    margin: 0%;

 }

 html {
    overflow-x: hidden;
  }

 p {
    font-size: 20px;
    margin-top: 1.5em;
 }

 li {
    font-size: 20px;
 }

 h3{
     padding-bottom: 1em;
 }

 /* Top header with logo and nav bar****MAKE NAV BAR FIXED**** */ 
.header {
        margin-top: 0;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        height: 1.5rem;
        background-color: #252525;   
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        /* position: sticky; 
        top: 0; */

 }

  /* .sticky + .landing-content {
    padding-top: 120px;
  }  */

/* nav bar */
 .header ul {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
  }

 .header ul li {
    display: inline-block;
    padding-right: 2em;
    padding-top: 1em;
    text-align: left;
    font-weight: bold;
}

li p {
    color: #fff;
    font-size: 14px;
}

.query ul {
    list-style-type: circle;
    margin-left: 1em;
}


.heading {
    margin-top: 6em;
    margin-left:2em;
    padding-right: 1em;
    font-style: italic;
    color: #252525;
    font-size: 20px;
}

.heading h1 {
    font-size: 40px;
}

.heading h2{
    font-size: 35px;
}

.heading p {
    font-size: 16px;
}


/* logo in header */
 .header-logo img {
     width: 2.8em;
     margin-right: 0.1em;
     padding-top: 0.6em;
     padding-bottom: 0.5em;
 }

/* styling and positioning learn more */
.button .btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #4b2e83;
    color: white;
    font-weight: bold;
    border-radius: 0.8em;
    width: 10em;
    margin-top:4em;
    margin-left: 3em;
    padding-top:1em;
    padding-bottom: 1em;
}


/* project title and description on top of homepage  */
  .informers-header p {
    color:#fff;
    font-size: 15px;
    font-weight: bold;
    padding-top: 0.3em;
    padding-bottom: 1em;
}

.info-header-block {
   /* position:static; */
   display: flex;
   align-items: flex-start;
   padding-left: 3em;
   padding-right: 2em;
   padding-top: 1em; 
   padding-bottom: 2em;
   height: 1em;
   margin-top: 2em;
} 

/* .landing-img .border {
    width: 20em;
    height: 15em;
    background-color: #4b2e83;
    border-radius: 20%;
    margin-left: 10em;
} */


/* informers and cip logo - top and center of landing page */
/* .front-img img {
    display: flex;
    justify-content: wrap;
    margin-top: 0;
    margin-bottom: 0; */
    /* padding-left: 5em;
}
 */

 
/* purple background element of website with project info and sponsors */
.block-content {
    background-color: #4b2e83;
    color:#ffffff; 
    padding-top: 3em;
    padding-bottom: 1em;
    margin-top: 4em;
    margin-bottom: 1em;
	transform: skewY(-4deg);
}
/* demo vido purple backgoeudn element */
.block-content-vid {
    background-color: #4b2e83;
    color:#ffffff; 
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 4em;
	transform: skewY(4deg);
}

/* content within purple background areas */

.block-content h2 {
    color:#ffffff; 
    text-align: left;
    margin-left: 2em;
    padding-bottom: 1em;
    transform: skewY(4deg);
}

.block-content {
    padding-top: 2em;
    padding-bottom: 3em;
}

.block-content-vid h1 {
    color:#ffffff; 
    text-align: center;
    padding-bottom: 2em;
    transform: skewY(-4deg);
}

.block-content-vid .vid {
    transform: skewY(-4deg);
}

.block-content p {
    color:#ffffff; 
    text-align: left;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    margin-left: 2em;
    transform: skewY(4deg);
}

.block-content p {
    padding-bottom: 0;
}


.block-content h1 {
    text-align: center;
    color: #fff;
}


/* project info and sponsors content on homepage */
.mission, .cip-intro {
    margin-top: 3em;
    margin-right: 1em;
    margin-left: 1em;
}


.mission p, .mission h2 {
    text-align: left;
    padding-bottom: 1em;
}

/* our solution section on landing page  */
.solution {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 3em;
    padding-left: 4em;
    padding-right: 4em;
}

/* features intro */
 .feature-title  {
    margin-left: 5em;
}



/* aligning features sections on page */
.features {
    display: flex;
    flex-wrap: wrap;
    padding-left: 7em;
}

.feature {
    display: inline;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.features img {
    width: 60px;
    height: 60px;
}

.feature-text {
    inline-size: 20em;
}

.feature-text p {
    font-size: 20px;
}

/* heading for feature questions section */
.questions h2 {
    text-align: left;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 2em;
    margin-top: 3em;
}

/* aligning feeature questions section */
.questions ul {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

.questions ul li {
    list-style-type: circle;
    font-size: 20px;
    width: 30%;
}

.query li:before {
    content:"•  ";
    margin-right: 0.5em;
}

/* aligning feature 'question' placements */
.question {
    inline-size: 25em;
    display: inline-flex;
    padding-right: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}

/* alignning video placement on screen */
.vid {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
}



/* project status alignment */
.status {
    text-align: left;
    margin-top: 2em;
    margin-left: 13em;
    margin-right: 10em;
    margin-bottom: 6em;
}

/* changing color of link in sponsor paragraph */
  .cip-intro a {
      color: #e8e3d3;
  }


/* styling all images in team section - including icons ***FIXX*** */
/* .headshots {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro h2 {
    padding-left: 2em;
    margin-bottom: 2em;
}

/* .photo {
    margin: 2em;
} */

/* .intro .headshots img {
    border-radius: 50%;
    width: 10em;
    height:10em;
    margin-top: 2em;
    justify-content: center;

} */

/* adjusting headshot images on larger screens */
.intro img {
    border-radius: 50%;
    width: 7em;
    height:7em;
    margin: 1em;
}

/* adjusting contact logos on larger screen */
.intro .contacts  {
    align-items: baseline;
}

.contacts .email img {
    border-radius: 0%;
    width: 2.7em;
    height: 2.7em;
    padding-top: 1.2em;
}

.contacts .linkedin img {
    border-radius: 0%;
    width: 2.3em;
    height: 2.3em;
}



/* team's pictures alignment for larger screens */

.headshots {
    flex-direction: row;
    padding: 0;
    
}

.headshots {
    display:flex; 
    flex-wrap: wrap;
    align-content: center;
    margin-left: 5%;
}

.photo {
    margin:3em;
    text-align: center;
    justify-content: center;
}

/* adjusting linkedin and email for larger screens*/
.photo .linkedin {
    width: 2em;
    border-radius: 0%;

}

.photo p {
    margin-bottom: 0;
}

.contacts {
    display: flex;
    justify-content:space-evenly;
    margin-top: 0;
    padding-top: 0;
}


/* positioning footer aat bottom of site page */
.footer {
    bottom: 0;
    margin-top: 2em;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    height: 2.5rem;
    background-color: #252525;   
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
}


/* position ischool logo in footer */
.infologo img {
    width: 17em;
}

.infologo {
    float: right;
}

/* adjusting copyright placement */
.copyright p {
    color: lightgrey;
    font-size: 22px;
    bottom: 1em;
    font-style: italic;
}

.copyright {
    text-align: left;
    padding-right: 2em;
    color: rgb(181, 181, 181) ;
}

.status a {
    color: blue;
}
@media screen and (max-width: 768px) {
     /* vertical navbar for small screens */
     
     .header ul {
        /* list-style-type: none; */
        padding: 0;
        width: 60px;
      }
      
      .header li a {
        display: block;
      }

      .cover-content {
          display: flex;
          flex-direction: column;
          margin-bottom: 10em;

      }

      .question {
          margin-left: 2em;
      }

      .questions ul li {
        font-size: 20px;
        width: 50%;
      }

    .heading {
        width: 80%; 
        margin-left: 1em; 
        margin-right: 0;      
    }

    .heading h1 {
        font-size: 30px;
    }

    .landing-img img {
        width: 20em;
        margin: 0;
        padding: 0;
        margin-top: 4em;
        border-radius: 0.9em;
        border: 10px solid #cccccc;
    }

    .landing-img {
        display: flex;
        justify-content: center;
    }

    /* alinging headshots and contact info */
    .intro h2 {
        margin-top: 3em;
        margin-bottom: 3em;
    }
/*     
    .intro .photo  {
        display:inline-block;
        justify-content: center;
    }

    .intro .photo h1, .intro .photo p {
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    /* adjusting contact icons on moblie 
    .intro .contacts .linkedin img {
        width: 4em;
        height: 4em;
        border-radius: 0%;
    }

    .intro .contacts .email img {
        width: 4.5em;
        height: 4.5em;
        border-radius: 0%;
        margin-left: 1em;
    }

    .intro .contacts {
        display: flex;
        flex-direction: row;
        margin-left: 1em;
        margin-right: 1em;
        align-items: baseline;
    } */

    /* fixing margin on 'with tools liek these..' for small screens */

    .questions {
        justify-content: center;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 2em;
    }

    .questions h2 {
        margin: 0;
        text-align: center;
    }

    .question {
        width: 20em;

    }

    /* project staus alignment */
    .status {
        margin-left: 3em;
        margin-right: 3em;
    }

    /* aligning features for solution */
    .features {
        justify-content: center;
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 2em;
    }
    
    /* aliging footer content on smaller screens */

    .footer {
        padding-top: 1em;
        height: 5em;
    } 

    .footer .content {
        margin-left: 1em;
    }

    .footer .infologo {
        margin-bottom: 0.5em;
    }

}


@media screen and (min-width:750px) {

    .heading {
        margin-right: 3em;
    }

    .landing-img img {
        width: 30em;
        margin: 0;
        padding: 0;
        margin-top: 4em;
        border-radius: 0.9em;
        border: 10px solid #cccccc;
    }

    .landing-img {
        display: flex;
        justify-content: center;
    }

    .block-content {
        padding-right: 20em;
        padding-left: 2em;
        padding-bottom: 3em;
    }

    .block-content h2 {
        padding-bottom: 0;
    }

    .block-content p {
        margin-top: 1em;
    }
    
    .questions h2 {
        margin-top: 3em;
        margin-bottom: 0;
        margin-left: 8em;
    }

    .question {
        margin-top: 0;
        margin-bottom: 1em;
        margin-left: 3em;
    }

    .questions {
        margin-left: 0em;
    }

    .query li {
        font-size: 17px;
    }

    /* adjusting headshot images on larger screens */
    .intro img {
        border-radius: 50%;
        width: 9em;
        height:9em;
        margin: 1em;
    }

    /* margin for team on larger scren */
    .intro h2 {
        margin-left: 8em;
        margin-top: 2em;
    }

    /* adjusting contact logos on larger screen */
    .intro .contacts  {
        display: flex;
        align-items: baseline;
    }

    .contacts .email img {
        border-radius: 0%;
        width: 2.7em;
        height: 2.7em;
        margin:0.2em;
        margin-right: 0.2em;
        padding: 0em;
    }

    .contacts .email {
        margin-top: 1.5em;
    }

    .contacts .linkedin img {
        border-radius: 0%;
        width: 2.3em;
        height: 2.3em;
        margin:0.2em;
        padding: 0.2em;
    }

    /* adjusting size for logos on top og landing page */
    .front-img img {
        width: 10em;
    }

/* team's pictures alignment for larger screens */

    .headshots {
        flex-direction: row;
        padding: 0;
        padding-left: 1em;
        margin-bottom: 0;
        
    }

    .headshots {
        display:flex; 
        flex-wrap: wrap;
        justify-content: center;
    }

    .photo {
        margin:3em;
        text-align: center;
        justify-content: center;
    }

    /* adjusting linkedin and email for larger screens*/
    .photo .linkedin {
        width: 2em;
        border-radius: 0%;

    }

    .contacts {
        display: flex;
        justify-content:center;

    }

    .contacts .linkedin {
        margin-right: 1em;
    }

    /* adjusting alignment of features on larger screens */
    .features {
        justify-content: center;
    }

    .feature {
        margin-right: 1em;
    }

    /* position ischool logo in footer */
    /* .infologo img {
        width: 17em;
        padding-left: 2em;
    }  */
    
    
    /* solution padding for larger screen */
    .solution p {
        margin-left: 8em;
        margin-right: 8em;
    }

    .solution  {
        margin-top: 3em;
        padding-top: 2em;
    }
    
    .status {
        margin-top: 1em;
    }

    /* positioning footer aat bottom of site page */
    .footer {
        height: 2.5rem; 
        padding-top: 2em;  
    }

    .content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
    }

    /* position ischool logo in footer */
    .infologo img {
        width: 17em;
        padding-left: 2em;
    }

    .infologo {
        float: left;
    }
    
    .copyright {
        float: right;
        padding-bottom: 0.7em;
    }
        
}



@media screen and (min-width:900px) {

    /* positioning content on top page of landing page ****FIXXXX**** */
.cover-content {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 3em;
    margin-bottom: 19.1em;
}


.heading {
    width: 25em;        
    padding-right: 5em;
}

.head {
    margin-left: -4em;
}

.heading h1 {
    font-size: 44px;
    width:40em;
}

.heading h2{
    font-size: 44px;
    width:40em;
}

.heading p {
    font-size: 16px;
    width:40em;
}

.border {
    display: flex;
    justify-content:center;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 5em;
    margin-right: 3em;
    padding-left:10em;
    width: 30em;
}




/* 
.landing-img {
    display: flex;
    justify-content: center;
} */

    /* adjusting headshots sizing on larger pages */

    .headshots {
        display: row;
    }

    .headshots h1, .headshots  p{
        font-size: 16px;
    }
   
    /* .photo {
        margin: 0.5em;
    } */

    .headshots .img {
        width: 60px;
        height: 60px;
    }
/* 
    .headshots .contacts {
        align-items: center;

    } */

    

    .feature #sentiment {
        margin-top: 1em;
    }

/* top img on landing size */
    .landing-img .border {
        width: 20em;
        height: 10em;
    }
}



@media screen and (min-width:1200px) {
    
.landing-img .border {
    border-radius: 0.8em;
}
.landing-img img {
    margin-top: 5em;
    margin-bottom: 15em;
    margin-left: 10em;
    margin-right:6.5em;
    padding: 0;
    width:30em;
    height: auto;
    border-radius: 0.9em;
    border: 10px solid #cccccc;
}

.headshots {
    margin-left: 2%;
}

.landing-img {
    display: flex;
    justify-content: flex-end;
}
}


