 * {
    color: #0F0238;
    font-family: 'Roboto', sans-serif;

 }

 p {
     font-size: 20px;
 }


body, head {
    background-image: linear-gradient(#0F0238, #469CE8);
  }

.heading {
    align-items: center;
}

.mission {
    margin-top: 6em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 0em;
    padding-bottom: 0;
}

.mission p, .mission h2 {
    text-align: left;

}


.features h2, .features h3, .features p {
    text-align: left;
    margin-left: 1em;
}

.features img {
    width: 100px;
    height: 100px;
}

.feature {
    display: flex;
}

.features h2 {
    margin-top: 3em;

}

.learningMore {
    margin-top: 6em;
}

/* .navbar {
    display: inline;
} */

.checkbox input[type="checkbox"] {
    display: none;
}

/* navbar on a big screen*/

#hamnav {
    text-align: center;
    padding-top: 3em;
    margin-right: 1em;
    margin-top: 1em;
    align-items: center;
}


#hamitems {
    float: right;
    margin-top: 50px;
}

#hamitems a {
    /*flex-grow: 1;*/
    /*flex-basis: 0;*/
    display: inline-block;
    padding-right: 3em;
    text-decoration: none;
    padding-left: 0;
}

#hamitems a:hover {
    color: #B497D6;
}

#hamitems a:active {
    text-decoration: underline;
    color: #B497D6;
}
#hamnav label,
#hamburger {
    display: none;
}

.btn {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #B497D6;
    color: white;
    border-radius: 0.5em;
    width: 10em;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 5em;
}

.intro img {
    border-radius: 50%;
    width: 15em;
    height:15em;
    margin-top: 2em;

}

.headshots {
    flex-direction: column;
    padding: 3em;
    align-items: center;
}

.sponsors {
    margin-top: 5em;
    margin-bottom: 5em;
}

    /* styling contact form */

    .contactForm {
        background-color: #0F0238;
        padding: 2em;
        margin-left: 0em;
        width: 82%;
        display:inline-block;
        text-align:center;
    }

    .contactForm textarea[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contactForm input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

    .contactForm button,
    .contactForm[type=submit] {
        width: 50%;
        background-color: #B497D6;
        /* color: white; */
        padding: 0.8em 1.2em;
        margin: 0.5em 0;
        border: none;
        border-radius: 0.2em;
        cursor: pointer;
    }
    
    .contactformbutton {
        text-align: center;
    }
    
    .contactforminput {
        text-align: left;
        padding: 2em;
    }
    
    .contactforminput p {
        text-align: center;
        font-weight: 600;
    }
    
    button[type=submit]:hover {
        background-color: #0F0238;
    }
 /* logo and team name at top left corner */
    .team {
        display: flex;
        margin-top: 2em;

    }

    .team-name {
        margin-top: 1.5em;
    }

    .logo {
        padding: 0.5em;
        width:4em;
    }

    .first-page {
        background-color: #B497D6;
        padding-bottom: 20em;
        padding-left: 2em;
        padding-right: 65%;
        padding-top: 0em;
        margin-top:0em;
        text-emphasis: left;
        color:#0F0238; 
    }
    /* .copyright {
        text-align: left;
    } */


@media screen and (max-width: 768px) {
    .navbar {
        margin-top: 0.5em;
    }
    /* vertical menu */
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 0.1em solid;
    }
    /* show ham icon */
    #hamnav label {
        display: block;
        color: #B497D6;
        font-style: normal;
        font-size: 1.2em;
        padding-right: .75em;
        float: right;
    }
    /* show/hide menu */
    #hamitems {
        display: none;
    }
    #hamnav input:checked~#hamitems {
        display: block;
    }

}


@media screen and (min-width:750px) {

    .intro img {
        border-radius: 50%;
        width: 10em;
        height:10em;
        margin: 1em;
    }

    .headshots {
        flex-direction: row;
        padding: 0;
        
    }

    .features {
        margin-left: 3em;
        align-items: center;
    }

    .headshots {
        display:flex; 
        flex-wrap: wrap;
        align-content: center;
    }

    .photo {
        margin:3em;
    }


}



@media screen and (min-width:900px) {
    
    .headshots {
        display: row;
    }

    .headshots h1, .headshots  p{
        font-size: 16px;
    }
   
    .photo {
        margin: 0.5em;
    }

    .img {
        width: 60px;
        height: 60px;
    }
}



@media screen and (min-width:1200px) {
    
}